
article{
  width:100%;
  height:100%;
  text-align:center;
  overflow:hidden;
}
.central-icon {
  position:relative;
  background:url('6058578.png') no-repeat;
  width:130px;
  height:130px;
  border: 5px solid #999;
  border-radius: 69px;
  margin:auto;
}
.me-over{
  position:relative;
  background:black;
  opacity:0;
  width:100%;
  height:100%;
}
.me-over:hover{
  opacity:0.8;
}
