
article{
  width:100%;
  height:100%;
  text-align:center;
  overflow:hidden;
}
.central-icon {
  width:150px;
  height:150px;
  border: 5px solid #999;
  border-radius: 69px;
}
.me-over{
  position:relative;
  background:black;
  opacity:0;
  width:100%;
  height:100%;
}
.me-over:hover{
  opacity:0.8;
}
